:root {
  --primary-theme: #c2a45c;
  --secondry-theme: #000;
  --grey: #585353;
  --dark-grey: #2f2e2e;
  --dark-green: #001d08;
  --sm-color: #554343;
  --banner-color: 2B2A2A;
  --grey-600: #646464;
  --default-color: #fff;
  --black: #000000;
  --light-black: #1e1e1e;
  --primary-font: "Poppins", sans-serif;
  --secondry-font: "";
  --text-1: 0.1rem;
  --text-2: 0.2rem;
  --text-3: 0.3rem;
  --text-4: 0.4rem;
  --text-5: 0.5rem;
  --text-6: 0.6rem;
  --text-7: 0.7rem;
  --text-8: 0.8rem;
  --text-9: 0.9rem;
  --text-10: 1rem;
  --text-11: 1.1rem;
  --text-12: 1.2rem;
  --text-13: 1.3rem;
  --text-14: 1.4rem;
  --text-15: 1.5rem;
  --text-16: 1.6rem;
  --text-17: 1.7rem;
  --text-18: 1.8rem;
  --text-19: 1.9rem;
  --text-20: 2rem;
  --text-21: 2.1rem;
  --text-22: 2.2rem;
  --text-23: 2.3rem;
  --text-24: 2.4rem;
  --text-25: 2.5rem;
  --text-26: 2.6rem;
  --text-27: 2.7rem;
  --text-28: 2.8rem;
  --text-29: 2.9rem;
  --text-30: 3rem;
  --text-31: 3.1rem;
  --text-32: 3.2rem;
  --text-33: 3.3rem;
  --text-34: 3.4rem;
  --text-35: 3.5rem;
  --text-36: 3.6rem;
  --text-37: 3.7rem;
  --text-38: 3.8rem;
  --text-39: 3.9rem;
  --text-40: 4rem;
  --text-41: 4.1rem;
  --text-42: 4.2rem;
  --text-43: 4.3rem;
  --text-44: 4.4rem;
  --text-45: 4.5rem;
  --text-46: 4.6rem;
  --text-47: 4.7rem;
  --text-48: 4.8rem;
  --text-49: 4.9rem;
  --text-50: 5rem;
  --text-51: 5.1rem;
  --text-52: 5.2rem;
  --text-53: 5.3rem;
  --text-54: 5.4rem;
  --text-55: 5.5rem;
  --text-56: 5.6rem;
  --text-57: 5.7rem;
  --text-58: 5.8rem;
  --text-59: 5.9rem;
  --text-60: 6rem;
  --text-61: 6.1rem;
  --text-62: 6.2rem;
  --text-63: 6.3rem;
  --text-64: 6.4rem;
  --text-65: 6.5rem;
  --text-66: 6.6rem;
  --text-67: 6.7rem;
  --text-68: 6.8rem;
  --text-69: 6.9rem;
  --text-70: 7rem;
  --text-71: 7.1rem;
  --text-72: 7.2rem;
  --text-73: 7.3rem;
  --text-74: 7.4rem;
  --text-75: 7.5rem;
  --text-76: 7.6rem;
  --text-77: 7.7rem;
  --text-78: 7.8rem;
  --text-79: 7.9rem;
  --text-80: 8rem;
  --text-81: 8.1rem;
  --text-82: 8.2rem;
  --text-83: 8.3rem;
  --text-84: 8.4rem;
  --text-85: 8.5rem;
  --text-86: 8.6rem;
  --text-87: 8.7rem;
  --text-88: 8.8rem;
  --text-89: 8.9rem;
  --text-90: 9rem;
  --text-91: 9.1rem;
  --text-92: 9.2rem;
  --text-93: 9.3rem;
  --text-94: 9.4rem;
  --text-95: 9.5rem;
  --text-96: 9.6rem;
  --text-97: 9.7rem;
  --text-98: 9.8rem;
  --text-99: 9.9rem;
  --text-100: 10rem;
  --text-101: 10.1rem;
  --text-102: 10.2rem;
  --text-103: 10.3rem;
  --text-104: 10.4rem;
  --text-105: 10.5rem;
  --text-106: 10.6rem;
  --text-107: 10.7rem;
  --text-108: 10.8rem;
  --text-109: 10.9rem;
  --text-110: 11rem;
  --text-111: 11.1rem;
  --text-112: 11.2rem;
  --text-113: 11.3rem;
  --text-114: 11.4rem;
  --text-115: 11.5rem;
  --text-116: 11.6rem;
  --text-117: 11.7rem;
  --text-118: 11.8rem;
  --text-119: 11.9rem;
  --text-120: 12rem;
  --text-121: 12.1rem;
  --text-122: 12.2rem;
  --text-123: 12.3rem;
  --text-124: 12.4rem;
  --text-125: 12.5rem;
  --text-126: 12.6rem;
  --text-127: 12.7rem;
  --text-128: 12.8rem;
  --text-129: 12.9rem;
  --text-130: 13rem;
  --text-131: 13.1rem;
  --text-132: 13.2rem;
  --text-133: 13.3rem;
  --text-134: 13.4rem;
  --text-135: 13.5rem;
  --text-136: 13.6rem;
  --text-137: 13.7rem;
  --text-138: 13.8rem;
  --text-139: 13.9rem;
  --text-140: 14rem;
  --text-141: 14.1rem;
  --text-142: 14.2rem;
  --text-143: 14.3rem;
  --text-144: 14.4rem;
  --text-145: 14.5rem;
  --text-146: 14.6rem;
  --text-147: 14.7rem;
  --text-148: 14.8rem;
  --text-149: 14.9rem;
  --text-150: 15rem;
  font-size: 62.5%;
}
html,
body {
  overflow-x: hidden;
}
@font-face {
  font-family: "Agency-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/AGENCYB_1.TTF");
}
@font-face {
  font-family: "Agency-reg";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AGENCYR_1.TTF");
}
@font-face {
  font-family: "Century-italic";
  font-style: italic;
  src: url("../fonts/Century\ Old\ Style\ Italic.otf");
}
@font-face {
  font-family: "Century-std-bold";
  src: url("../fonts/CenturyOldStyleStd-Bold.ttf");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 500;
  src: url("../fonts/Helvetica.ttf");
}
@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  src: url("../fonts/Helvetica-Bold.ttf");
}
/* @font-face {
  font-family: 'Agency';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AGENCYB.TTF') format('woff');
  } */
::-webkit-scrollbar {
  width: var(--text-7);
}

::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: var(--text-10);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondry-theme);
  border-radius: var(--text-10);
}
body {
  font-family: "Agency-reg";
  font-size: var(--text-16);
}
img {
  max-width: 100%;
}
/* (].@ymwJX,wB */
/* globals start */
.row {
  --bs-gutter-x: var(--text-30);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p,
span,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1040px;
}

/* header */
.header {
  background-color: var(--black);
  padding: var(--text-20) 0;
}
.primary-nav a {
  color: var(--default-color);
  font-size: var(--text-25);
}
.logo span {
  letter-spacing: 2px;
}

/* header end */
/* banner */
.hero-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero-banner h1 {
  font-size: var(--text-45);
  line-height: 0.8;
  font-weight: 600;
}

.hero-banner h1 span {
  font-size: var(--text-30);
  font-weight: 400;
}
.sec-2 .img-wrapper {
  display: flex;
  justify-content: center;
}
.sec-2 .img-wrapper img {
  width: 100%;
  max-width: 30rem;
}

.sec-2 p.century {
  font-family: "Century-italic";
  color: var(--default-color);
  font-size: var(--text-25);
  text-align: center;
  font-style: italic;
}

.sec-3 {
  font-family: serif;
  color: var(--black);
  padding-bottom: 15rem;
}
.about-sec-2 h2,
.sec-3 h2 {
  font-family: "Century-std-bold";
  color: var(--black);
  line-height: 1;
}
.about-sec-2 h2 span,
.sec-3 h2 span {
  font-family: serif;
  font-weight: 300;
  font-size: clamp(1rem, 1.3vw, 1.7rem);
}
.about-sec-2 p,
.sec-3 p {
  font-weight: light;
  font-size: var(--text-25);
  font-size: clamp(1rem, 1.3vw, 1.7rem);
  margin-bottom: var(--text-20);
  line-height: 1.2;
}

.sec-3 .img-wrapper {
  /* position: absolute; */
  /* top: 200px; */
  max-width: 300px;
  /* right: 300px; */
}
.sec-3 img {
  width: 100%;
  max-width: 20rem;
  margin-top: -2rem;
}
.about-sec-2 h2,
.sec-3 h2 {
  font-size: clamp(3rem, 2.5vw, 3.4rem);
}
.sec-3 h2:last-child {
  font-size: clamp(3rem, 5vw, 4rem);
  margin-top: var(--text-100);
}

.sec-4 {
  background-image: url(../images/section-4-img-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 48rem 0;
  position: relative;
  margin-top: -28rem;
}

.sec-4 h2 {
  font-family: "Century-std-bold";
  color: var(--black);
  line-height: 1;
  position: absolute;
  top: -11.5rem;
}

.sec-3 h2:last-child {
  margin-top: var(--text-80);
  margin-top: 4rem;
  position: relative;
  z-index: 1;
  line-height: 1.2;
}

.footer .img-wrapper {
  max-width: 250px;
}

.footer-links {
  font-family: "Helvetica";
}

.footer-links a {
  color: var(--black);
  font-weight: 500;
  font-size: var(--text-14);
}
.footer-links li {
  margin-bottom: var(--text-5);
}
.footer-links li:first-child {
  font-weight: 700;
  color: var(--black);
  font-size: var(--text-14);
}
/* .hero-banner-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
} */
.hero-banner-slider {
  height: 100%;
}

.hero-banner-slider img {
  width: 100%;
  height: 80vh;
  /* object-fit: cover;  */
}
.hero-banner h1 {
  position: absolute;
  top: var(--text-150);
  left: 0;
  z-index: 1;
}
.hero-banner-slider img,
.hero-banner {
  height: 80vh;
}
/* inner pages */
.inner-banner h1 {
  font-family: "Century-std-bold";
}
.about-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('../images/section-4-img-1.jpg') no-repeat center / cover;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-sec-2 p {
  font-family: 'serif';
  color: var(--black);
}

.about-sec-2 .container {
  max-width: 1125px;
}

/* responsive */
@media (min-width: 1570px) {
  .footer .container,
.hero-banner .container,
.header .container {
  max-width: 1400px;
}
}
/* banner end */

.header .menu-toggle {
  display: none;
}
.header .col:has(.menu-toggle) {
  display: none;
}
.header .logo span {
  text-wrap: nowrap;
  font-weight: 600;
  /* font-family: 'Agency-bold'; */
}
@media (max-width: 1440px) {
  .sec-3 img {
    max-width: 200px;
  }
  .hero-banner-slider img,
  .hero-banner {
    height: 86vh;
    object-position: top center;
  }
  .footer .container, .header .container, .hero-banner .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .footer .container, .header .container, .hero-banner .container {
    max-width: 1100px;
}
}

@media (max-width: 1024px) {
  .hero-banner h1 {
    top: var(--text-100);
  }

  .hero-banner-slider img,
  .hero-banner {
    height: 50vh;
  }
  .footer .container, .header .container, .hero-banner .container,
  .container {
    max-width: 900px;
}
}

@media (max-width: 991px) {
  .header {
    position: relative;
  }
  .header .col:has(.menu-toggle) {
    display: block;
  }
  .header .menu-toggle {
    display: block;
  }

  .header .col-lg-8 .primary-nav {
    transform: translateX(-100%);
    transition: all 0.3s;
    flex-direction: column;
    position: fixed;
    width: 100%;
    max-width: 500px;
    left: 0;
    top: 0;
    background: var(--default-color);
    color: var(--black) !important;
    border-radius: 10px;
    height: 100vh;
    align-items: start;
    justify-content: center !important;
  }

  .header .col-lg-8 .primary-nav.active {
    transform: translateX(0);
  }

  .header .col-lg-8 ul li a {
    color: var(--black);
  }

  .header .col-lg-8 span.close-menu {
    color: var(--black);
    border-radius: 1px solid red;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  span.hamburger-menu {
    position: absolute;
    right: var(--text-50);
    top: 50%;
    transform: translateY(-50%);
    color: var(--default-color);
  }

  .sec-3 img {
    display: none;
  }
  .sec-3 .container {
    padding: 0;
  }
  .about-sec-2 h2 span,
  .sec-3 h2 span {
    font-size: clamp(1.7rem, 1.3vw, 2.5rem);
  }
  .about-sec-2 p,
  .sec-3 p {
    font-size: clamp(1.7rem, 1.3vw, 2.5rem);
    line-height: 1.2;
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .header .logo img {
    width: 100%;
    max-width: 120px;
  }
  .header .logo {
    flex-direction: column;
  }

  /* HERO BANNER */
  .hero-banner h1 {
    top: var(--text-60);
  }

  .hero-banner-slider img,
  .hero-banner {
    height: 35vh;
  }
  /* HERO BANNER END */

  .sec-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sec-3 h2:last-child {
    font-size: clamp(3rem, 5vw, 5rem);
    margin-top: var(--text-50);
  }

  .sec-4 {
    padding: 25rem 0;
  }

  .footer img {
    max-width: 200px !important;
    width: 100%;
  }
  .footer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 580px) {
  .hero-banner h1 {
    top: var(--text-60);
    font-size: var(--text-40);
  }

  .hero-banner-slider img,
  .hero-banner {
    height: 28vh;
  }
}

@media (max-width: 525px) {
  .century {
    font-size: 20px !important;
    text-wrap: nowrap;
    text-align: start;
  }
}

@media (max-width: 480px) {
  .hero-banner h1 {
    top: var(--text-40);
    font-size: var(--text-35);
  }

  .hero-banner-slider img,
  .hero-banner {
    height: 23vh;
  }
}

@media (max-width: 375px) {
  .hero-banner h1 {
    top: var(--text-20);
    font-size: var(--text-30);
  }

  .hero-banner-slider img,
  .hero-banner {
    height: 17.5vh;
  }
}
